
/* Navigation.module.css */
.nav {
    position: fixed;
    /* Закріплює меню зверху */
    top: 0;
    width: 100%;
    background-color: rgb(204, 199, 199);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 8px 12px;
    border-radius: 4px;
}

.link:hover {
    color: #007bff;
}

.active {
    background-color: #007bff;
    color: white;
}